* {
    padding: 0;
    margin: 0;
}

section .navbar {
    background-color: rgba( 0, 0, 0, 0.5);
}

#navbarSupportedContent {
    margin-left: 60%;
}

section#home {
    height: 100vh;
    width: 100%;
    background-color: royalblue;
}