@font-face {
    font-family: 'font-start-game';
    src: url("/font/pdark.ttf");
}

@font-face {
    font-family: 'font-game';
    src: url("/font/Games-Italic.ttf");
}

section#home {
    height: 100vh;
    width: 100%;
    background-image: url('/world/back.gif');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: flexbox;
}


.start {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

.title-start {
    color: white;
    font-size: 25vh;
    font-family: 'font-game', sans-serif;
}

.btn {
    position: relative;
    width: 40vh;
    height: 10vh;
    font-family: 'font-start-game';
}

span {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
